<p-carousel
  [value]="categories() ?? []"
  [numVisible]="5"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
>
  <ng-template pTemplate="item" let-category let-i="index">
    <div
      class="relative overflow-hidden shadow-lg hover:scale-105 transition-transform cursor-pointer"
    >
      <img
        [src]="category.image"
        [alt]="category.name"
        class="w-full h-40 object-cover overflow-hidden"
      />
      <div
        class="absolute bottom-0 w-full bg-gradient-to-t from-black via-black/30 to-transparent text-center text-white py-2 font-semibold"
      >
        {{ category.name }}
      </div>
    </div>
  </ng-template>
</p-carousel>
